[submodule "modules/common"]
	path = modules/common
	url = git://github.com/puppet-modules/puppet-common.git
[submodule "modules/munin"]
	path = modules/munin
	url = git://github.com/puppet-modules/puppet-munin.git
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/puppet-modules/puppet-apache.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git://github.com/puppet-modules/puppet-ssh.git
[submodule "modules/nagios"]
	path = modules/nagios
	url = git://github.com/puppet-modules/puppet-nagios.git
